---
import Layout from "../../../layouts/Layout.astro";

import { supabase } from "../../lib/supabase";

let { data } = await supabase.from("user").select("*");
---

<Layout pageTitle="Users">
  <h1>Users</h1>
  <section>
    {
      data?.map((user) => {
        return (
          <div>
            <h1>Username: {user.username}</h1>
            <p>Email: {user.email}</p>
          </div>
        );
      })
    }
  </section>
</Layout>
