---

import Dashboard from "../../../layouts/Dashboard.astro";
import { supabase } from "../../../lib/supabase";

interface User {
  username: string;
  email: string;
  password?: string;
  created_at?: string;
}

export async function getStaticPaths() {
  const { data: users, error } = await supabase.from("user").select("id");

  if (error) {
    console.error("Error fetching items:", error.message);
    return [];
  }

  return users.map((user) => ({
    params: { id: user.id.toString() },
  }));
}

const { data: user, error } = await supabase
  .from("user")
  .select("*")
  .eq("id", Astro.params.id)
  .single();

if (error || !user) {
  console.error("Error fetching item:", error?.message);
  return { notFound: true };
}

console.log("user ", user);
const { id } = Astro.params;

if (!id || !user) {
  return Astro.redirect("/404");
}

async function updateData(data: User, userId: string) {
  const { data: updatedUser, error } = await supabase
    .from("user")
    .update(data)
    .eq("id", userId)
    .select()
    .single();

  if (error) {
    console.error("Error updating data:", error);
    return { data, success: false, error: error.message };
  }
  return { data: updatedUser, success: true };
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const newUser: User = {
    username: formData.get("username") as string,
    email: formData.get("email") as string,
  };

  const response = await updateData(newUser, id);

  if (response.success) {
    return Astro.redirect("/users");
  }
}
---

<Dashboard pageTitle="Add User">
  <div class="flex w-full">
    <section class="w-[280px] bg-neutral-200 p-5">
      <header class="mb-20">
        <div class="flex gap-2">
          <img
            src=""
            alt="Jhon Doe"
            class="w-11 h-11 rounded-full bg-neutral-700"
          />
          <div>
            <p class="text-sm leading-3">Welcome back</p>
            <h3 class="font-bold text-lg">Jhon Doe</h3>
          </div>
        </div>
      </header>
      <nav>
        <ul class="flex flex-col gap-2 text-sm">
          <li>
            <a
              href="/users"
              title="Users"
              class="hover:bg-white rounded-md block px-3 py-2">Users</a
            >
          </li>
          <li>
            <a
              href="/projects"
              title="Projects"
              class="hover:bg-white rounded-md block px-3 py-2">Projects</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <main class="flex-grow bg-white min-h-lvh">
      <header class="border-neutral-200 border-b p-5">
        <h1 class="text-4xl font-semibold">Edit User</h1>
      </header>
      <section class="w-full mx-auto p-5">
        <form action={`/users/edit/${id}`} method="post">
          <div class="flex flex-col gap-4 mt-16">
            <fieldset>
              <label for="username" class="block font-bold mb-2 font-manrope"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                required
                value={user?.username}
                class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
              />
            </fieldset>
            <fieldset>
              <label for="email" class="block mb-2.5 font-manrope font-bold"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                value={user?.email}
                required
                class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
              />
            </fieldset>
          </div>

          <footer class="mt-10">
            <a
              href="/users"
              class="inline-block text-center font-bold text-sm flex-grow px-6 py-2 border-gray-200 bg-white border-width-2 border rounded-md"
              >Cancel</a
            >
            <button
              type="submit"
              class="inline-block px-6 flex-grow font-bold text-sm py-2 bg-blue-500 text-white rounded-md"
              >Edit User</button
            >
          </footer>
          <!-- {
            success === false && (
              <div
                role="alert"
                class="mb-4 mt-10 relative flex w-full p-3 text-sm text-white bg-red-600 rounded-md"
              >
                {error}
                <button
                  class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="h-5 w-5"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
            )
          } -->
        </form>
      </section>
    </main>
  </div>
</Dashboard>
