---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tiger from "../assets/portfolio/tiger.png";
import renta2014 from "../assets/portfolio/renta-2014.png";
import travelmax from "../assets/portfolio/travelmax.png";
import yachay from "../assets/portfolio/yachay.png";
import grupon from "../assets/portfolio/grupon.png";
import laive from "../assets/portfolio/laive.png";
import yachayDashboard from "../assets/portfolio/dashboard-yachay.png";
import cancino from "../assets/portfolio/cancino.png";
import goldenpalace from "../assets/portfolio/goldenpalace.png";
import MenuAndTitle from "../components/MenuAndTitle.astro";
import Logo from "../components/Logo.astro";

const images = [
  cancino,
  tiger,
  renta2014,
  travelmax,
  yachay,
  grupon,
  laive,
  yachayDashboard,
  goldenpalace,
];
---

<Logo />
<Layout pageTitle="Projects">
  <MenuAndTitle title="Portfolio" />
  <section
    id="smooth-wrapper"
    class="w-full projects overflow-hidden min-h-lvh"
  >
    <div class="w-full">
      {
        images.map((image, index) => {
          return (
            <article class={`w-full h-lvh absolute project${index + 1}`}>
              <Image
                src={image}
                class={` ${index === 0 ? "!opacity-100" : ""} transition-opacity ease-in-out duration-1000 object-contain w-auto h-[86%] mx-auto`}
                alt="Rafael Meza | Portfolio"
              />
            </article>
          );
        })
      }
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  gsap.defaults({ duration: 2 });

  const tl = gsap.timeline();

  tl.from(".project1", {
    xPercent: -100,
  })
    .from(".project2", {
      xPercent: 100,
    })
    .from(".project3", {
      xPercent: -100,
    })
    .from(".project4", {
      xPercent: 100,
    })
    .from(".project5", {
      xPercent: -100,
    })
    .from(".project6", {
      xPercent: 100,
    })
    .from(".project7", {
      xPercent: -100,
    })
    .from(".project8", {
      xPercent: 100,
    })
    .from(".project9", {
      xPercent: -100,
    });

  ScrollTrigger.create({
    animation: tl,
    trigger: ".projects",
    start: "top 10%",
    end: "+=4000",
    scrub: true,
    pin: true,
    anticipatePin: 1,
  });
</script>
