---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tiger from "../assets/portfolio/tiger.png";
import renta2014 from "../assets/portfolio/renta-2014.png";
import travelmax from "../assets/portfolio/travelmax.png";
import yachay from "../assets/portfolio/yachay.png";
import grupon from "../assets/portfolio/grupon.png";
import laive from "../assets/portfolio/laive.png";
import yachayDashboard from "../assets/portfolio/dashboard-yachay.png";
import cancino from "../assets/portfolio/cancino.png";
import goldenpalace from "../assets/portfolio/goldenpalace.png";
import MenuAndTitle from "../components/MenuAndTitle.astro";
import Logo from "../components/Logo.astro";

const images = [
  {
    src: tiger,
    alt: "Tiger",
    focus: "Focus on: CSS, Javascript, GSAP",
  },
  {
    src: cancino,
    alt: "Cancino",
    focus: "Focus on: CSS, Javascript, GSAP",
  },
  {
    src: renta2014,
    alt: "SUNAT Renta 2014",
    focus: "Focus on: CSS, Javascript, GSAP",
  },
  {
    src: travelmax,
    alt: "TravelMax",
    focus: "Focus on: CSS, Javascript, GSAP, Jquery",
  },
  {
    src: yachay,
    alt: "Yachay",
    focus: "Focus on: CSS, Javascript, GSAP, Angular",
  },
  {
    src: grupon,
    alt: "Grupon",
    focus: "Focus on: CSS, Javascript, GSAP, Jquery",
  },
  {
    src: laive,
    alt: "Laive",
    focus: "Focus on: CSS, Javascript, GSAP, Jquery",
  },
  {
    src: yachayDashboard,
    alt: "Yachay Dashboard",
    focus: "Focus on: CSS, Javascript, GSAP, Angular",
  },
  {
    src: goldenpalace,
    alt: "Goldel Palace",
    focus: "Focus on: CSS, Javascript, GSAP",
  },
];
---

<Logo />
<Layout pageTitle="Projects">
  <MenuAndTitle title="Portfolio" />
  <section
    id="smooth-wrapper"
    class="w-full projects overflow-hidden min-h-lvh p-4 lg:p-6 flex flex-col lg:block"
  >
    {
      images.map(({ src, focus, alt }, index) => {
        return (
          <article
            class={`w-full h-lvh project${index + 1} flex flex-col lg:flex-row relative`}
          >
            <Image
              src={src}
              class={`project${index + 1}-image ${index === 0 ? "!opacity-100" : ""} w-[80%] lg:w-1/2 max-w-full lg:aspect-square transition-opacity ease-in-out duration-700 object-contain mx-auto`}
              alt={`${alt} - Rafael Meza | Portfolio`}
            />
            <div
              class={`relative project project${index + 1}-info lg:opacity-0 transition-all duration-700 ease-in-out w-full lg:w-0 relative lg:h-full flex items-center`}
            >
              <div class="lg:w-[500px] lg:absolute left-0 top-1/2 lg:-translate-y-1/2 ">
                <h2
                  class="font-cinzel leading-tight nowrap"
                  style={{
                    fontSize: "clamp(20px, 7vw + .4rem, 80px)",
                  }}
                >
                  {alt}
                </h2>
                <p class="lg:text-2xl font-nixie-one leading-relaxed">
                  {focus}
                </p>
              </div>
            </div>
          </article>
        );
      })
    }
  </section>
</Layout>

<style>
  .active {
    opacity: 1 !important;
    width: 33.33334% !important;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  let element = document.querySelector(".project1") as HTMLElement;
  let height = element.offsetHeight;
  console.log(height);
  gsap.registerPlugin(ScrollTrigger);

  const nodelist = document.querySelectorAll(".project");

  Array.from(nodelist).map((element, index) => {
    gsap.to(element, {
      scrollTrigger: {
        trigger: `.project${index + 1}-info`,
        start: "top 50%",
        end: "bottom 80%",
        toggleClass: "active",
      },
    });
  });
</script>
