---
import { Icon } from "astro-icon/components";

const { href } = Astro.props;
---

<a
  title="Volver al Home"
  href={href}
  id="close-button-js"
  class="p-4 opacity-0 z-50 transition-all hover:-translate-x-2 duration-700 absolute flex items-center justify-center top-6 right-6"
>
  <Icon name="material-symbols-light:arrow-back-rounded" size="64" />
</a>

<script is:inline>
  document.addEventListener("keyup", function (event) {
    if (event.key === "Escape") {
      window.location.href = "/";
    }
  });

  document.addEventListener("astro:page-load", () => {
    const closeButton = document.getElementById("close-button-js");
    if (!closeButton) return;

    const classes = ["!opacity-100", "!translate-y-0"];
    setTimeout(() => closeButton.classList.add(...classes), 1700);
  });
</script>
