<a
  id="logo-js"
  href="/"
  title="Rafael Meza - Frontend Developer Portfolio - Responsive & Modern Designs"
  class="z-40 font-cinzel text-3xl opacity-0 w-16 fixed left-6 top-8 block -translate-y-10 transition-all delay-700 duration-1000 ease-in-out"
>
  RM
</a>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const logoClasses = ["!opacity-100", "!translate-y-0"];
    const logo = document.getElementById("logo-js");
    if (logo) logo.classList.add(...logoClasses);
  });
</script>
