---
const options = [
  {
    id: "option-portfolio",
    text: "Portfolio",
    href: "/portfolio",
  },
  {
    id: "option-contact",
    text: "Contact",
    href: "/contact",
  },
];
---

<nav
  id="menu-js"
  class="z-40 fixed w-full left-0 bottom-0 right-0 overflow-hidden h-0 delay-700 transition-all duration-700 ease-in-out bg-green-800 flex flex-col justify-center"
>
  <ul
    class="font-cinzel leading-[1]"
    style={{
      fontSize: "clamp(20px, 13vw + .5rem, 200px)",
    }}
  >
    {
      options.map(({ text, href, id }) => (
        <li class="w-full">
          <a
            href={href}
            class="hover:translate-x-6 transition-all duration-500 ease-in-out w-full overflow-hidden flex space-x-1 justify-center text-yellow-100 items-center"
          >
            <span class="flex w-full" id={id}>
              {text.split("").map((letter: string) => (
                <span class="opacity-0 block translate-y-96 transition-all ease-in-out duration-700">
                  {letter}
                </span>
              ))}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
