---
import "@fontsource/quicksand";
import "@fontsource/raleway";
import "@fontsource/lobster";
import "@fontsource/bebas-neue";
import "@fontsource/nixie-one";
import { ClientRouter } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Rafael Meza - Web Developer specializing in ReactJS. Building modern, scalable, and efficient web applications. Turn your ideas into reality with custom tech solutions. Expert in front-end development and JavaScript frameworks."
    />
    <title>
      {pageTitle}
      {pageTitle ? " | " : ""}
      Rafael Meza | Web Developer
    </title>
    <ClientRouter />
  </head>
  <body
    id="app"
    class="opacity-0 bg-[#FEF8DD] h-full transition-all duration-700 ease-in-out"
  >
    <slot />

    <script is:inline>
      document.addEventListener("astro:page-load", () => {
        const app = document.getElementById("app");
        if (app) {
          app.classList.remove("opacity-0");
        }

        document.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", (event) => {
            event.preventDefault();
            const path = event.currentTarget.getAttribute("href");

            document.body.classList.add("opacity-0");
            setTimeout(() => {
              window.location.href = path;
            }, 700);
          });
        });
      });
    </script>
  </body>
</html>
