---
import Dashboard from "../../layouts/Dashboard.astro";
import { supabase } from "../../lib/supabase";

interface User {
  username: string;
  email: string;
  password?: string;
  created_at?: string;
}

async function insertData(data: User) {
  const { error } = await supabase.from("user").insert([data]);
  if (error) {
    console.error("Error inserting data:", error);
    return { success: false, error: error.message };
  }
  return { success: true };
}

let insertResult;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const newUser: User = {
    username: formData.get("username") as string,
    email: formData.get("email") as string,
    password: formData.get("password") as string,
  };

  insertResult = await insertData(newUser);

  if (insertResult.success) {
    return Astro.redirect("/users");
  }
}
---

<Dashboard pageTitle="Add User">
  <div class="flex w-full">
    <section class="w-[280px] bg-neutral-200 p-5">
      <header class="mb-20">
        <div class="flex gap-2">
          <img
            src=""
            alt="Jhon Doe"
            class="w-11 h-11 rounded-full bg-neutral-700"
          />
          <div>
            <p class="text-sm leading-3">Welcome back</p>
            <h3 class="font-bold text-lg">Jhon Doe</h3>
          </div>
        </div>
      </header>
      <nav>
        <ul class="flex flex-col gap-2 text-sm">
          <li>
            <a
              href="/users"
              title="Users"
              class="hover:bg-white rounded-md block px-3 py-2">Users</a
            >
          </li>
          <li>
            <a
              href="/projects"
              title="Projects"
              class="hover:bg-white rounded-md block px-3 py-2">Projects</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <main class="flex-grow bg-white min-h-lvh">
      <header class="border-neutral-200 border-b p-5">
        <h1 class="text-4xl font-semibold">Add User</h1>
      </header>
      <section class="w-full mx-auto p-5">
        <form method="post" action="/users/add">
          <div class="flex flex-col gap-4 mt-16">
            <fieldset>
              <label for="username" class="block font-bold mb-2 font-manrope"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                required
                class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
              />
            </fieldset>
            <fieldset>
              <label for="email" class="block mb-2.5 font-manrope font-bold"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                required
                class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
              />
            </fieldset>
            <fieldset>
              <label for="password" class="block mb-2.5 font-manrope font-bold"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                required
                class="w-full px-4 py-2 rounded-md border border-gray-200 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500"
              />
            </fieldset>
          </div>
          {
            insertResult?.success && (
              <div
                class="bg-green-200 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-green-950"
                role="alert"
              >
                User was added successfully!
              </div>
            )
          }
          {
            insertResult?.error && (
              <div
                class="bg-red-300 bg-opacity-40 text-sm p-4 mt-6 rounded-md text-red-950"
                role="alert"
              >
                There was an error creating the user: {insertResult.error}
              </div>
            )
          }
          <footer class="mt-10">
            <a
              href="/users"
              class="inline-block text-center font-bold text-sm flex-grow px-6 py-2 border-gray-200 bg-white border-width-2 border rounded-md"
              >Cancel</a
            >
            <button
              type="submit"
              class="inline-block px-6 flex-grow font-bold text-sm py-2 bg-blue-500 text-white rounded-md"
              >Add User</button
            >
          </footer>
        </form>
      </section>
    </main>
  </div>
</Dashboard>
