---
import UsersTable from "../../components/UsersTable";
import Dashboard from "../../layouts/Dashboard.astro";
---

<Dashboard pageTitle="Users">
  <div class="flex w-full">
    <section class="w-[280px] bg-neutral-200 p-5">
      <header class="mb-20">
        <div class="flex gap-2">
          <img
            src=""
            alt="Jhon Doe"
            class="w-11 h-11 rounded-full bg-neutral-700"
          />
          <div>
            <p class="text-sm leading-3">Welcome back</p>
            <h3 class="font-bold text-lg">Jhon Doe</h3>
          </div>
        </div>
      </header>
      <nav>
        <ul class="flex flex-col gap-2 text-sm">
          <li>
            <a
              href="/users"
              title="Users"
              class="hover:bg-white rounded-md block px-3 py-2">Users</a
            >
          </li>
          <li>
            <a
              href="/projects"
              title="Projects"
              class="hover:bg-white rounded-md block px-3 py-2">Projects</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <main class="flex-grow bg-white min-h-lvh">
      <header class="border-neutral-200 border-b p-5">
        <h1 class="text-4xl font-semibold">Users</h1>
      </header>
      <section class="w-full mx-auto p-5">
        <div class="flex justify-between mb-10">
          <h2 class="font-semibold text-2xl">Title</h2>
          <a
            href="/users/add"
            class="inline-block px-6 py-2 bg-blue-500 text-white rounded-md"
            >Add User
          </a>
        </div>
        <UsersTable client:load />
      </section>
    </main>
  </div>
</Dashboard>
